:host {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.component-container {
  max-width: 300px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card-title,
.mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.validation-container {
  font-size: 0.8em;

  .validation-content {
    text-align: center;
    padding: 10px;
  }

  .mat-icon {
    font-size: 2em;
    margin: 2px 4px 0 0;
  }
  .with-icon {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
