<form [formGroup]="entry" (ngSubmit)="onSubmit()">
  <mat-card class="list-card">
    <mat-card-header>
      <mat-card-title>
        <input matInput type="text" formControlName="contents" required>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div formArrayName="children"
           *ngFor="let item of items.controls; let i = index;">
        <div [formGroupName]="i">
          <mat-checkbox formControlName="checked"></mat-checkbox>
          <mat-form-field>
            <input matInput formControlName="contents">
          </mat-form-field>
        </div>
      </div>
      <button mat-button (click)="addItem()"><mat-icon>add</mat-icon></button>
    </mat-card-content>
  </mat-card>
</form>
