<mat-card-content>
  <div class="button-container">
    <mat-icon (click)="deleteThis()">delete</mat-icon>
  </div>
  <form [formGroup]="formGroup">
    <div formArrayName="items"
         *ngFor="let item of formChecklistItems.controls; let i = index;">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-checkbox matPrefix formControlName="checked"></mat-checkbox>
          <input matInput formControlName="name">
          <mat-icon matSuffix (click)="deleteItem(i)">clear</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <button mat-button (click)="addItem()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-card-content>
