<mat-card-content>
  <form [formGroup]="entry">
      <mat-form-field>
        <mat-card-title>
          <input matInput type="text" formControlName="contents" required>
        </mat-card-title>
        <mat-icon matSuffix (click)="deleteThis()">delete</mat-icon>
      </mat-form-field>
    <div formArrayName="children"
         *ngFor="let item of items.controls; let i = index;">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-checkbox matPrefix formControlName="checked"></mat-checkbox>
          <input matInput formControlName="contents">
          <mat-icon matSuffix (click)="deleteItem(i)">clear</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <button mat-button (click)="addItem()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-card-content>
