<mat-card-content>
  <div class="float-container">
    <div class="float-left">
      <mat-icon (click)="movedUp.emit()">arrow_drop_up</mat-icon>
      <mat-icon (click)="movedDown.emit()">arrow_drop_down</mat-icon>
    </div>
    <div class="float-right">
      <mat-icon (click)="deleteThis()">delete</mat-icon>
    </div>
  </div>
  <form [formGroup]="form" cdkDropList (cdkDropListDropped)="drop($event)">
    <div formArrayName="items"
         *ngFor="let item of formChecklistItems.controls; let i = index;">
      <div [formGroupName]="i" cdkDrag>
        <mat-form-field class="checklist-form-field">
          <mat-icon class="drag-icon" cdkDragHandle matPrefix>drag_indicator</mat-icon>
          <mat-checkbox matPrefix formControlName="checked"></mat-checkbox>
          <input #input matInput formControlName="name" (keyup.enter)="addItem()">
          <mat-icon matSuffix (click)="deleteItem(i)">clear</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-button (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
</mat-card-content>
