<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon (click)="menuClickedEvent.emit()" *ngIf="isLoggedIn">menu</mat-icon>
      <div class="icon">
        <img alt="star logo" src="assets/Whitestar_black.svg" width="50" style="vertical-align:middle">
        <h1>Marcus</h1>
      </div>
      <span class="fill-remaining-space"></span>
      <mat-icon class="menu_trigger" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">account_circle</mat-icon>
      <mat-menu #menu="matMenu">
        <button class="btn_logout" mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="'/profile/config'">Edit profile</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
