<mat-card-content>
  <div class="float-container">
    <div class="float-left">
      <mat-icon (click)="movedUp.emit()">arrow_drop_up</mat-icon>
      <mat-icon (click)="movedDown.emit()">arrow_drop_down</mat-icon>
    </div>
    <div class="float-right">
      <mat-icon (click)="deleteThis()">delete</mat-icon>
    </div>
  </div>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput type="url" formControlName="url" required>
    </mat-form-field>
    <div *ngIf="(linkPreview | async)">
      <img *ngIf="(linkPreview | async)" alt="link preview" src="{{(linkPreview  | async).url}}">
    </div>
  </form>
</mat-card-content>
