<mat-card-content>
  <div class="float-container">
    <div class="float-left">
      <mat-icon (click)="movedUp.emit()">arrow_drop_up</mat-icon>
      <mat-icon (click)="movedDown.emit()">arrow_drop_down</mat-icon>
    </div>
    <div class="float-right">
      <mat-icon (click)="deleteThis()">delete</mat-icon>
    </div>
  </div>
  <form [formGroup]="form">
    <ng-template #elseBlock>
      <mat-form-field>
        <input matInput type="url" formControlName="url">
      </mat-form-field>
    </ng-template>

    <div *ngIf="linkPreview | async as link; else elseBlock">
      <a href="{{ link.url }}" target="_blank">
        <h3>{{ link.title }}</h3>
        <p>{{ link.description }}</p>
        <img alt="link preview" src="{{ link.image }}">
      </a>
    </div>

  </form>
</mat-card-content>
