/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
}

.mat-icon {
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-container {
  position: relative;
  margin-bottom: 7px;
}

.float-container::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

