.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card {
  max-width: 860px;
  margin: auto;
}

.float {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 100;
}

.sync-indicator {
  position: fixed;
  top: 40px;
  right: 30px;
  height: 25px; width: 25px;
  background: rgba(50, 50, 50, 0.9);
  border-radius: 60px;
  padding: 0.7em 0.8em;
}
