<div class="user-overview-container mat-elevation-z8">
  <mat-paginator [length]="users.totalElements"
                 [pageSize]="users.size"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="getServerData($event)">
  </mat-paginator>

  <mat-divider></mat-divider>

  <mat-accordion displayMode="flat" multi class="mat-table">
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell">Username</span>
      <span class="mat-header-cell">Role</span>
    </section>

    <mat-expansion-panel *ngFor="let user of users.content">
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell">{{user.username}}</span>
        <span class="mat-cell">{{user.role}}</span>
      </mat-expansion-panel-header>
      <div>
        <button mat-raised-button>Send password mail</button>
        <button mat-icon-button>Edit</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
