:host {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.component-container {
  max-width: 300px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card-title,
.mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.validation-container {
  font-size: 0.8em;
  text-align: center;
  border-left: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-radius: 5px;

  .validation-content {
    padding: 10px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .mat-icon {
    font-size: 2em;
  }

  .with-icon {
    display: flex;
    align-items: center;
  }
}
