<mat-card class="component-container">
  <mat-card-title>Set your password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm">
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Confirm password:</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required>
      </mat-form-field>
      <mat-error [style]="{'visibility': userForm.hasError('passwordsDoNotMatch') ? 'visible': 'hidden'}">
        Passwords do not match
      </mat-error>
      <br>
      <div class="button">
        <button (click)="onSubmit()" [disabled]="!userForm.valid" color="accent" class="A400" mat-button mat-raised-button type="submit">Submit</button>
      </div>
      <br>
      <div [ngClass]="passwordStrength === 100 ? 'border-color-accent validation-container' : 'border-color-warn validation-container'">
        <mat-progress-bar mode="determinate"
                          [color]="progressBarColor"
                          [value]="passwordStrength"></mat-progress-bar>
        <div class="validation-content">
          <div [ngClass]="password.hasError('containsDigit') ? 'with-icon color-warn' :'with-icon color-accent'">
            <mat-icon *ngIf="password.hasError('containsDigit')">error_outline</mat-icon>
            <mat-icon *ngIf="!password.hasError('containsDigit')">verified_user</mat-icon>
             Password must contain at least one digit
          </div>
          <div [ngClass]="password.hasError('containsUpperCase') ? 'with-icon color-warn' :'with-icon color-accent'">
            <mat-icon *ngIf="password.hasError('containsUpperCase')">error_outline</mat-icon>
            <mat-icon *ngIf="!password.hasError('containsUpperCase')">verified_user</mat-icon>
            Password contains an upper case character
          </div>
          <div [ngClass]="password.hasError('containsLowerCase') ? 'with-icon color-warn' :'with-icon color-accent'">
            <mat-icon *ngIf="password.hasError('containsLowerCase')">error_outline</mat-icon>
            <mat-icon *ngIf="!password.hasError('containsLowerCase')">verified_user</mat-icon>
            Password contains a lower case character
          </div>
          <div [ngClass]="password.hasError('containsSpecialChar') ? 'with-icon color-warn' :'with-icon color-accent'">
            <mat-icon *ngIf="password.hasError('containsSpecialChar')">error_outline</mat-icon>
            <mat-icon *ngIf="!password.hasError('containsSpecialChar')">verified_user</mat-icon>
            Password contains a special character
          </div>
          <div [ngClass]="password.hasError('minimumLength') ? 'with-icon color-warn' :'with-icon color-accent'">
            <mat-icon *ngIf="password.hasError('minimumLength')">error_outline</mat-icon>
            <mat-icon *ngIf="!password.hasError('minimumLength')">verified_user</mat-icon>
            Password has a length of 8 characters
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

