<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm">
      <mat-form-field>
        <mat-label>Old password:</mat-label>
        <input matInput type="password" formControlName="oldPassword" required>
        <mat-error *ngIf="oldPassword.invalid && oldPassword.errors.required">Old password is required</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="newPassword" required>
        <mat-error *ngIf="newPassword.invalid && newPassword.errors.required">Password is required.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="confirmNewPassword" required>
        <mat-error *ngIf="confirmNewPassword.invalid && confirmNewPassword.errors.required">Password is required.</mat-error>
      </mat-form-field>
      <div class="button">
        <button (click)="onSubmit()" [disabled]="!userForm.valid" color="accent" class="A400" mat-button mat-raised-button type="submit">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

