<div class="card-wrapper">
  <mat-card class="list-card" *ngFor="let list of shoppingLists" >
    <mat-card-header>
      <mat-card-title>{{list.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let listItem of list.items">{{listItem.name}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
